# Microdados
dados/*.txt
dados/*.csv
dados/*.parquet

# Arquivos temporários do Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Ambientes
.venv/
venv/
env/

# Arquivos locais
.DS_Store
Thumbs.db